<nav layout="row" layout-align="space-around-center" id="main-nav">
  <ul id="main-nav-left" layout="row" layout-align="start center" class="heading-font">
    <li><a href="#home">HOME</a></li>
    <li><a href="#portfolio">PORTFOLIO</a></li>
    <li><a href="#about">ABOUT</a></li>
  </ul>
  <img id="mainlogo" layout="row" layout-align="end center" src="./design_elements/logos/S.png">
  <ul id="main-nav-right" layout="row" layout-align="space-around center" class="heading-font">
    <li><a href="#work">WORK/SERVICES</a></li>
    <li><a href="#contact">CONTACT/HIRE ME</a></li>
    <li><a href="#blog">BLOG</a></li>
  </ul>
</nav>
