<div id="underConstr-partial" layout="column">
  <div id="row-one" layout="row" layout-align="start center">
    <img id="main-img" src="../design_elements/images/ComingSoonMain.png">
  </div>
  <div id="row-two" layout-"column" layout-align="center center">
    <div>
      <h1>Just kidding! </br> I am currently revamping my site. See my progress below: </h1>
    </div>
    <div id="row-two-2" layout="row" layout-align="center center">
      <img src="../design_elements/images/coffeeAnimation/coffeeAnim-{{coffee_img}}.png">
    </div>
    <div id="row-two-3" layout="row" layout-align="center center">
      <p>{{perc_done}}%</p>
    </div>
  </div>
  <div id="row-three" layout="row" layout-align"center center">
    <p>In the meantime, check out my resume and social media accounts: </p>
    <a target="_blank" href="https://drive.google.com/file/d/0B-U1IirNSdo3a1BzWF95cFF2bzQ/view?usp=sharing"><i class="fa fa-download"></i></a>
    <a target="_blank" href="http://github.com/shachyjr"><i class="fa fa-github"></i></a>
    <a target="_blank" href="http://linkedin.com/in/shachyjr"><i class="fa fa-linkedin"></i></a>
  </div>
</div>
