<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-app="srCom" ng-controller="MainCtrl">
    <div>
      {{test}}
    </div>
    <% include partials/underConstr %>

    <!---nav bar--->
    <% include partials/navbar %>

  </body>
</html>
