<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body ng-app="srCom" ng-controller="MainCtrl">
    <div id="main-container">
      <% include partials/navbar %>
      <% include partials/header %>
      <% include partials/underConstr %>
    </div>
    <% include partials/scripts %>

  </body>
</html>
