<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <div>
      <% include partials/navbar %>
      <% include partials/header %>
    </div>
    <% include partials/scripts %>
  </body>
</html>
